/*#sc2316{
    -webkit-transform: translateX(111px) translateY(85px) translateZ(0px) scale(0.8169014084507042);
    -moz-transform: translateX(111px) translateY(85px) translateZ(0px) scale(0.8169014084507042);
    -ms-transform: translateX(111px) translateY(85px) translateZ(0px) scale(0.8169014084507042);
    transform: translateX(111px) translateY(85px) translateZ(0px) scale(0.8169014084507042);
}

#sc2347{
    -webkit-transform: translateX(296px) translateY(85px) translateZ(0px) scale(0.8169014084507042);
    -moz-transform: translateX(296px) translateY(85px) translateZ(0px) scale(0.8169014084507042);
    -ms-transform: translateX(296px) translateY(85px) translateZ(0px) scale(0.8169014084507042);
    transform: translateX(296px) translateY(85px) translateZ(0px) scale(0.8169014084507042);
}

#sc2364{
    -webkit-transform: translateX(481px) translateY(85px) translateZ(0px) scale(0.8169014084507042);
    -moz-transform: translateX(481px) translateY(85px) translateZ(0px) scale(0.8169014084507042);
    -ms-transform: translateX(481px) translateY(85px) translateZ(0px) scale(0.8169014084507042);
    transform: translateX(481px) translateY(85px) translateZ(0px) scale(0.8169014084507042);
}

#sc2449{

    -webkit-transform: translateX(665px) translateY(85px) translateZ(0px) scale(0.8169014084507042);
    -moz-transform: translateX(665px) translateY(85px) translateZ(0px) scale(0.8169014084507042);
    -ms-transform: translateX(665px) translateY(85px) translateZ(0px) scale(0.8169014084507042);
    transform: translateX(665px) translateY(85px) translateZ(0px) scale(0.8169014084507042);
}

#sc2432{

    -webkit-transform: translateX(850px) translateY(85px) translateZ(0px) scale(0.8169014084507042);
    -moz-transform: translateX(850px) translateY(85px) translateZ(0px) scale(0.8169014084507042);
    -ms-transform: translateX(850px) translateY(85px) translateZ(0px) scale(0.8169014084507042);
    transform: translateX(850px) translateY(85px) translateZ(0px) scale(0.8169014084507042);
}

#sc2415{

    -webkit-transform: translateX(1035px) translateY(85px) translateZ(0px) scale(0.8169014084507042);
    -moz-transform: translateX(1035px) translateY(85px) translateZ(0px) scale(0.8169014084507042);
    -ms-transform: translateX(1035px) translateY(85px) translateZ(0px) scale(0.8169014084507042);
    transform: translateX(1035px) translateY(85px) translateZ(0px) scale(0.8169014084507042);
}

#sc2381{

    -webkit-transform: translateX(111px) translateY(288px) translateZ(0px) scale(0.8169014084507042);
    -moz-transform: translateX(111px) translateY(288px) translateZ(0px) scale(0.8169014084507042);
    -ms-transform: translateX(111px) translateY(288px) translateZ(0px) scale(0.8169014084507042);
    transform: translateX(111px) translateY(288px) translateZ(0px) scale(0.8169014084507042);
}

#sc2398{

    -webkit-transform: translateX(296px) translateY(288px) translateZ(0px) scale(0.8169014084507042);
    -moz-transform: translateX(296px) translateY(288px) translateZ(0px) scale(0.8169014084507042);
    -ms-transform: translateX(296px) translateY(288px) translateZ(0px) scale(0.8169014084507042);
    transform: translateX(296px) translateY(288px) translateZ(0px) scale(0.8169014084507042);
}

#sc2466{

    -webkit-transform: translateX(1035px) translateY(288px) translateZ(0px) scale(0.8169014084507042);
    -moz-transform: translateX(1035px) translateY(288px) translateZ(0px) scale(0.8169014084507042);
    -ms-transform: translateX(1035px) translateY(288px) translateZ(0px) scale(0.8169014084507042);
    transform: translateX(1035px) translateY(288px) translateZ(0px) scale(0.8169014084507042);
}

#sc2483{

    -webkit-transform: translateX(481px) translateY(288px) translateZ(0px) scale(0.8169014084507042);
    -moz-transform: translateX(481px) translateY(288px) translateZ(0px) scale(0.8169014084507042);
    -ms-transform: translateX(481px) translateY(288px) translateZ(0px) scale(0.8169014084507042);
    transform: translateX(481px) translateY(288px) translateZ(0px) scale(0.8169014084507042);
}

#sc2500{

    -webkit-transform: translateX(665px) translateY(288px) translateZ(0px) scale(0.8169014084507042);
    -moz-transform: translateX(665px) translateY(288px) translateZ(0px) scale(0.8169014084507042);
    -ms-transform: translateX(665px) translateY(288px) translateZ(0px) scale(0.8169014084507042);
    transform: translateX(665px) translateY(288px) translateZ(0px) scale(0.8169014084507042);
}

#sc2740{

    -webkit-transform: translateX(850px) translateY(288px) translateZ(0px) scale(0.8169014084507042);
    -moz-transform: translateX(850px) translateY(288px) translateZ(0px) scale(0.8169014084507042);
    -ms-transform: translateX(850px) translateY(288px) translateZ(0px) scale(0.8169014084507042);
    transform: translateX(850px) translateY(288px) translateZ(0px) scale(0.8169014084507042);
}*/

/*
a.springboard-button-view canvas, a.springboard-button-view img.sb-icon, a.springboard-button-view div.sb-focus{
    -moz-filter: blur(60px) brightness(1.2);
    -webkit-filter: blur(60px) brightness(1.2);
    -o-filter: blur(60px) brightness(1.2);
    -ms-filter: blur(60px) brightness(1.2);
    filter: blur(60px) brightness(1.2);
    filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=60, MakeShadow=false);
    opacity:0;
}

a.springboard-button-view div.sb-focus{
    opacity:1 !important;
    display:block;
}
*/
