@charset "utf-8";
/* CSS Document */
#yuanjiao {
	font-family: Arial;
	border-radius: 58px;
	width: 335px;
	height: 383px;
	position: absolute;
	top: 50%;
	left: 50%;
	background: url(../img/wzwdivbg.png) no-repeat;
	margin-top: -190px;
	margin-right: 0;
	margin-bottom: 0;
	margin-left: -170px;
}

ul {
    list-style-type: none;
}

.main_bord {
    margin-top: 162px;
    margin-right: 20px;
    padding-left: 18px;
    color: #999999;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: normal;
}

.main_bord1 {
    margin-top: 18px;
    padding-left: 18px;
    color: #999999;
}

.main_col {
    width: 260px;
    height: 28px;
    border: none;
    outline: none;
    font-size: 18px;
    color: #666666;
    font-family: Geneva, Arial, Helvetica, sans-serif;
    font-weight: lighter;
}

.main_cc {
    position: absolute;
    left: 298px;
    top: 209px;
}

#for {
    postion: absolute;
    botton: 0px;
}

.cc {
    position: absolute;
    left: 83px;
    top: 259px;
    width: 20px;
    height: 20px;
    background-image: url(../img/wzwx.png);
}

#ff {
    font-family: Arial;
    border-radius: 58px;
    width: 360px;
    height: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 230px 0 0 -150px;
    color: #fff;
}

#Layer2 {
    position: absolute;
    left: 0px;
    width: 100%;
}
